td {
  width: 100px;
  height: 100px;
  outline: 1px solid black;
}
.img {
  display: block;
  margin: 0 auto;
  width: 60px;
}

td-letters {
  transform: rotate(180deg);
}

table tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background-color: black;
}
table tr:nth-child(2n + 1) td:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n) td:nth-child(2n + 1) {
  background-color: white;
}
table tr:nth-child(2n) td:nth-child(2n) {
  background-color: black;
}
/*
table {
   font-family: Impact, sans-serif;
   font-size: 30px;
   background-color: white;
   color: #000000;
}
td {
   height: 50px;
   width: 50px;
   text-align: center;
   vertical-align: middle;
}
*/
